<nav>
<div class="menu-wrap">
<img class="logo-s"src="https://res.cloudinary.com/doem0zjpf/image/upload/v1562650336/maskCopy2_3x_vreuag.png" alt="">
  <div class="hamburger-trigger-area">
    <div class="hamburger-bar"></div>
    <div class="hamburger-bar"></div>
    <div class="hamburger-bar"></div>
  </div>
</div>
<div class="navbar-content">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/journals">Journals</a></li>
    </ul>
    </div>
  </nav>