
 

   <div class="banner-mainpage" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://res.cloudinary.com/doem0zjpf/image/upload/v1574145865/photo-1483721310020-03333e577078_e3wemd.jpg'); background-position:center; background-size:cover;"> 
  <div class="banner-textfield">
  <h1>Beat Procastination</h1>
  <p>Let's get started! Think of a goal you want to work on.</p>
  <div class="button-center">
    <%= link_to "START", new_journal_path, :class => "button-main", :id => "btn-start" %>
    </div>
  </div>
</div> 
<div class="container-main">
<div class="card-instruction-wrapper">
<div class="card-instruction"> 
  <div>
  <h2>1.</h2>
  <p>Being productive can be a daunting task. Find clarity with Conquered Time and start your journey of self-improvement.</p>
  </div>
</div>

<div class="card-instruction"> 
  <div>
  <h2>2.</h2>
  <p>Creating smaller, more manageable milestones builds a map to accomplishing our large goals.</p>
  </div>
</div>

<div class="card-instruction"> 
  <div>
  <h2>3.</h2>
  <p>Start a focus timer on your milestones to avoid distractions and work with complete devotion. It's all about quality over quantity!</p>
  </div>
</div>
</div>
</div>