.menu-wrap {
  position: relative;
  height:100%;
  width:100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .hamburger-trigger-area {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:10px;
    .hamburger-bar {
      height:2px;
      width:22px;
      display: block;
      background:#494949;
      margin-bottom:4px;
    }
  }
}

nav {
  height:70px;
}

.navbar-content {
  position: absolute;
  height:60%;
  max-height:600px;
  width:40%;
  max-width:300px;
  background:white;
  z-index: 40;
  top:0px;
  left:0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: none;
  li {
    margin-top:15px;
    font-size:1.2rem;
  }
  li a{
    text-decoration: none;
    color:#494949;
    margin-left:20px;
  }
}